<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/gerenciamento.css">
    <title>Bruno Barber - Agendamentos</title>
</head>
<body>
    <header>
        <div class="logo">
          <img src="/img/logo.png" />
        </div>
        <!--menu-->
        <nav>
          <div class="mobile-menu">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <ul class="nav-list">
            <li>
              <a href="/">Início</a>
            </li>
            <li><a href="/gerenciar" style="font-weight: bold; color: white">Gerenciar</a></li>
          </ul>
        </nav>
  
        <!--menu-->
      </header>


      <section class="options">
        <div class="option">
          <a href="/gerenciar">VOLTAR</a>
        </div>
        <div class="option">
          <a href="/gerenciar/bruno/create_agendamento">CRIAR AGENDAMENTO</a>
        </div>
        <div class="option">
          <a href="/gerenciar/wallyson/agendamentos">VER AGENDAMENTOS</a>
        </div>
        <div class="option">
          <a href="/gerenciar/wallyson/data_hora">GERENCIAR DATAS/HORAS</a>
        </div>
        <div class="option">
          <a href="/gerenciar/wallyson/horarios">MUDAR HORARIOS</a>
        </div>
      </section>
      
    
    <script src="/js/mobile-menu.js"></script>
</body>
</html>